* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0px;
}

.sr-only {
  display: none;
}

/*********** Reusable styles  *************/
/* Custom animations */
@keyframes logo-bounce-animation {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  30% {
    -webkit-transform: scaleX(1.25) scaleY(0.75);
    -ms-transform: scaleX(1.25) scaleY(0.75);
    transform: scaleX(1.25) scaleY(0.75);
  }
  40% {
    -webkit-transform: scaleX(0.75) scaleY(1.25);
    -ms-transform: scaleX(0.75) scaleY(1.25);
    transform: scaleX(0.75) scaleY(1.25);
  }
  60% {
    -webkit-transform: scaleX(1.15) scaleY(0.85);
    -ms-transform: scaleX(1.15) scaleY(0.85);
    transform: scaleX(1.15) scaleY(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes banner-zoom {
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes banner-text-zoom {
  from {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes footer-image {
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }
}

/*Heading styles */
.description-and-price h3,
.crinkles-count h3,
.order-crinkles-form h1,
.delivery h3,
.cater h3 {
  letter-spacing: 4px;
  text-transform: uppercase;
}

/*Link button styles*/
.banner-text a,
.order-crinkles-button {
  text-transform: uppercase;
  border-color: #ece4df;
  background-color: #ece4df;
  padding: 12px;
  border-radius: 4px;
  transition: all 0.5s ease;
}

.order-crinkles-button {
  background-color: #cbc0d3;
  margin-bottom: 20px;
}

.banner-text a {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.banner-text a:hover,
.order-crinkles-button:hover {
  box-shadow: 0px 0px 20px black;
  font-weight: 900;
  background-color: #d3ccc8;
  border-color: #d3ccc8;
}

.order-crinkles-button:hover {
  background-color: #cbc0d3;
}

/*********** Header  *************/
header {
  display: flex;
  justify-content: space-between;
  margin-left: 3%;
}

.logo {
  margin-top: 12px;
  width: 150px;
}

.logo a img {
  width: 100%;
}

.logo a img:hover {
  animation-name: logo-bounce-animation;
  animation-duration: 1s;
}

#nav-links,
.dropdown,
.dropdown-content {
  display: flex;
  align-items: center;
}

#nav-links {
  padding: 0px;
}

#nav-links li {
  list-style-type: none;
  margin: 4px;
  padding: 16px;
}

#nav-links li a {
  text-decoration: none;
  color: black;
  letter-spacing: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

#nav-links li a:hover {
  color: grey;
}

.dropdown i {
  font-size: 24px;
}

.dropdown-button {
  display: none;
}

.active {
  background-color: #ece4df;
  margin: 1px;
  padding: 8px;
  border-radius: 4px;
}

/*********** Home  *************/
/* Banner */
.crinkles-banner {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.crinkles-banner-image {
  width: 100vw;
}

.crinkles-banner-image img {
  width: 100%;
  opacity: 0.5;
  animation-name: banner-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-text h1 {
  font-size: 6em;
  font-family: "Caveat", cursive;
  letter-spacing: 8px;
  color: #3b3a3a;
  margin: 20px;
  animation-name: banner-text-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.banner-text p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

/* Crinkles description */

.description-wrapper {
  display: flex;
  justify-content: center;
}

.description {
  width: 60vw;
}

.description-wrapper .description h2 {
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
}

.description-and-image {
  display: flex;
}

.description-text-wrapper {
  font-size: 16px;
  line-height: 28px;
  align-self: center;
  margin-right: 20px;
}

.description-text {
  width: 30vw;
}

.description-image {
  width: 30vw;
  align-self: center;
}

.description-image img {
  width: 100%;
}

/*********** Gallery  *************/
#gallery-photos {
  clear: both;
  line-height: 2;
  column-count: 4;
  column-gap: 8px;
  margin: 0 20px;
}

#gallery-photos img {
  width: 100%;
  box-shadow: 0px 0px 20px black;
}

/*********** Our Crinkles  *************/
.our-crinkles-wrapper,
.delivery-wrapper,
.cater-wrapper {
  display: flex;
  justify-content: center;
}

.our-crinkles {
  width: 60vw;
  margin-top: 40px;
  line-height: 28px;
}

.crinkles-wrapper {
  display: flex;
  margin-bottom: 80px;
  padding: 20px;
  background-color: #ece4df;
  box-shadow: 0px 0px 10px grey;
}

.crinkles-img,
.box-description {
  width: 30vw;
}

.crinkles-img img {
  width: 100%;
  border-radius: 4px;
  opacity: 0.8;
}

.box-description-chocolate {
  margin-left: 40px;
}

.box-description-ube {
  margin-right: 40px;
}

.description-and-price {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.crinkles-count-wrapper {
  display: flex;
  justify-content: center;
}

.crinkles-count {
  width: 120px;
  display: flex;
  justify-content: space-around;
}

.description-and-price h3,
.crinkles-count h3 {
  margin-bottom: 0;
}

.delivery-wrapper,
.cater-wrapper {
  display: flex;
}

.delivery {
  margin-bottom: 80px;
}

.delivery,
.cater {
  text-align: center;
}

.delivery i,
.cater i {
  padding-right: 12px;
}

.delivery a,
.cater a {
  color: black;
}

.delivery a:hover,
.cater a:hover {
  color: grey;
}

/*********** Order Here  *************/
.order-crinkles-form-wrapper {
  display: flex;
  justify-content: center;
}

.order-crinkles-form {
  width: 50vw;
  display: flex;
  justify-content: center;
  background-color: #ece4df;
  box-shadow: 0px 0px 10px grey;
}

.order-crinkles-form h1 {
  text-align: center;
  line-height: 2em;
  font-family: "Roboto", sans-serif;
}

.form-label-and-inputs {
  display: flex;
  align-items: center;
  margin: 12px 0px;
}

.your-order {
  align-self: flex-start;
}

.label {
  width: 150px;
  margin: 0 12px 0 0;
  text-align: end;
}

.crinkle-choice {
  margin-bottom: 12px;
}

#notes {
  height: 60px;
}

.multiple-input {
  align-self: flex-start;
  margin-top: 6px;
}

.address-input {
  display: flex;
  flex-direction: column;
}

.form-inputs {
  width: 250px;
  margin: 4px;
  padding-left: 4px;
  height: 24px;
}
/*Make input placeholder itatlic */
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;
}
::-moz-placeholder {
  font-style: italic;
}
:-ms-input-placeholder {
  font-style: italic;
}
/**/

.your-order {
  display: flex;
  flex-direction: column;
}

.order-crinkles-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/*********** Thank you  *************/
.thank-you-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.thank-you {
  width: 40vw;
  text-align: center;
}

.thank-you p {
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  letter-spacing: 4px;
  line-height: 1.5em;
}

.contactless-wrapper-wrapper {
  display: flex;
  justify-content: center;
}

.contactless-wrapper {
  width: 300px;
}

.contactless-wrapper img {
  width: 100%;
}

/*********** Footer  *************/
.footer-wrapper {
  height: 250px;
  background-color: #ece4df;
  margin: 10% 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-logo-wrapper {
  display: flex;
  justify-content: center;
}

#footer-logo {
  width: 50px;
}

#footer-logo img {
  width: 100%;
  animation-name: footer-image;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 4px;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0;
}

.footer-links li {
  list-style-type: none;
  margin: 0px 16px;
  padding: 5px;
}

.footer-links li a {
  text-decoration: none;
  color: black;
  height: 44px;
  width: 44px;
  background-color: #fcf7f5;
  border-radius: 50%;
  margin: 0 2px;
  text-align: center;
  transition: all 0.5s ease;
  padding: 4px 8px;
  font-size: 28px;
}

.footer-links li a:hover {
  box-shadow: 0px 0px 20px black;
  color: grey;
}

.copyright {
  font-size: 12px;
  margin-top: 20px;
}

/*********** Media queries  *************/
@media screen and (max-width: 1200px) {
  /*********** Our Crinkles  *************/
  .our-crinkles {
    width: 80vw;
  }

  .crinkles-img,
  .box-description {
    width: 40vw;
  }
  /*********** Order Here  *************/
  .order-crinkles-form {
    width: 60vw;
  }
  /*********** Thank you  *************/
  .thank-you {
    width: 50vw;
  }
}

@media screen and (max-width: 950px) {
  /*********** Header  *************/

  #nav-links li a {
    font-size: 16px;
  }
  /*********** Home  *************/
  .banner-text h1 {
    font-size: 4em;
  }

  .description-and-image {
    flex-direction: column-reverse;
    align-items: center;
  }

  .description-text {
    width: 50vw;
  }

  .description-image {
    width: 50vw;
  }
  /*********** Gallery  *************/
  #gallery-photos {
    column-count: 3;
  }

  /*********** Our Crinkles  *************/
  .crinkles-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .crinkles-wrapper-ube {
    flex-direction: column-reverse;
  }

  .crinkles-img,
  .box-description {
    width: 50vw;
  }

  .box-description-chocolate,
  .box-description-ube {
    margin-left: 0px;
    margin-right: 0px;
  }
  /*********** Order Here  *************/
  .order-crinkles-form {
    width: 70vw;
    display: flex;
    justify-content: center;
  }
  /*********** Thank you  *************/
  .thank-you {
    width: 60vw;
  }
  .thank-you p {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 750px) {
  /*********** Header  *************/
  header {
    margin: 0 3% 40px 3%;
    flex-direction: column;
    align-items: center;
  }

  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-content {
    display: none;
  }

  .dropdown-button {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 28px;
  }

  .dropdown:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
    padding: 8px;
  }

  #nav-links li {
    padding: 8px;
  }

  /*********** Home  *************/
  .banner-text h1 {
    font-size: 3em;
  }

  .banner-text p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }

  .description-text {
    width: 70vw;
  }

  .description-image {
    width: 70vw;
  }

  /*********** Gallery  *************/
  #gallery-photos {
    column-count: 2;
  }

  /*********** Our Crinkles  *************/
  .crinkles-img,
  .box-description,
  .delivery,
  .cater {
    width: 65vw;
  }

  .delivery h3,
  .cater h3 {
    font-size: 16px;
  }

  /*********** Thank you  *************/
  .thank-you {
    width: 70vw;
  }

  .thank-you p {
    font-size: 1em;
  }
}

@media screen and (max-width: 500px) {
  /*********** Home  *************/
  .banner-text {
    width: 80vw;
  }

  .banner-text h1 {
    font-size: 2em;
  }

  .banner-text p {
    display: none;
  }

  .description-text {
    width: 90vw;
    text-align: center;
  }

  .description-image {
    width: 90vw;
  }
  /*********** Gallery  *************/
  #gallery-photos {
    column-count: 1;
  }

  /*********** Our Crinkles  *************/
  .crinkles-img,
  .box-description,
  .delivery,
  .cater {
    width: 70vw;
  }

  .box-description h3 {
    font-size: 16px;
  }
  /*********** Order Here  *************/
  .form-label-and-inputs {
    flex-direction: column;
  }

  .label {
    margin: 12px 0 8px 4px;
    text-align: start;
    font-weight: 600;
    letter-spacing: 1px;
    width: 200px;
  }

  .form-label-and-inputs {
    align-items: flex-start;
  }
  /*********** Thank you  *************/
  .thank-you {
    width: 80vw;
  }
}
